<html xmlns:ths="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="~{head.html}">
    </head>
    <body>
        <div class="main">
            <div th:insert="~{navbar.html}"></div>
            <div layout:fragment="siteContent">

            </div>
            <div th:insert="~{bottom.html}"></div>
        </div>
        <div th:insert="~{registrPanel.html}"></div>
    </body>
    <script type="text/javascript" src="/js/mainpage.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swup@3"></script>
</html>
