<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="~{head.html}">
    </head>
    <body>
        <div class="main">
            <div th:insert="~{navbar.html}"></div>
            <div layout:fragment="siteContent">

            </div>
            <div style="position:static">
                <div sec:authorize="hasAnyRole('ROLE_USER')">
                    <div th:insert="~{bottom.html}"></div>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">
                    <div th:insert="~{bottomforadmin.html}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
