.linkList{
    background-color: #257CFF;
}

.linkList a{
    background-color: #257CFF;
    color: white;border:0px ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.userS{
    background-color: white;
    margin-top: 6%;
    border-radius:30px;
}

.feedb{
    visibility: hidden;
    overflow: hidden;
}

.icons button{
    background-color: snow;
    border: 0px;
}

.icons:hover button{
    cursor: pointer;
    opacity: .2;
}

.container .icons button:hover{
    opacity: 1;
}
.titles{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.statistica{
    height: 7rem;
    padding: 2rem 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.statistica b{
    font-family: 'Roboto';
    font-weight:700;
    font-size: 24px;
    color: #000000;
    text-align: center
}
.statistica span{
    font-family: 'Roboto';
    font-weight:500;
    color: #6D6D6D;
    text-align: center
}

