<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="siteContent">
  <div class="bg-image" th:style="'background-image: url(' + @{'/viewTphoto/'+${topic.getTopicImg()}} + '); height: 80vh;'">
    <div th:insert="~{centerlinks.html}"></div>
  </div>
  <div class="container-fluid mt-3" style="margin-left: 5%">
    <span style="font-family: 'Roboto';font-weight: 500;font-size: 22px;margin-left: 1%">You can find by yourself</span>
    <div class="input-group rounded  mb-3" style="width: 30%">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row ms-4">
      <div class="col-12 d-flex flex-wrap" >
        <a th:href="@{'/details/' + ${ev.getId()} + '-page.html'}" style="color:black;text-decoration: none" th:each="ev : ${events}">
          <div class="card mt-4 ms-5" style="width: 18rem;" th:each="top : ${ev.getTopics()}" th:if="${top.getId()==topic.getId()}">
            <img th:src="@{'/viewphoto/'+${ev.getEventImg()}}" class="img" alt="...">
            <div class="card-body">
              <h5 class="card-title" th:text="${ev.getName()}"></h5>
              <p class="card-text" th:text="${ev.getDescription()}"></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</html>