 <div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-1 links">
      <div class="btn-group dropdown ">
        <button type="button" class="btn "data-bs-toggle="dropdown">
          [[#{content.city}]]
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <ul class="dropdown-menu" style="height: 150px;overflow: auto">
          <li><a class="dropdown-item" th:href="@{'/bookbycity/' + ${city.getId()} + '-page.html'}" th:each="city:${cities}" th:text="${city.getName()}"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-1 links">
      <div class="btn-group dropdown">
        <button type="button" class="btn"data-bs-toggle="dropdown">
          [[#{content.events}]]
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" th:href="@{'/booking/' + ${top.getId()} + '-page.html'}" th:each="top:${topics}" th:text="${top.getName()}"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-1 links">
      <div class="btn-group dropdown">
        <button type="button" class="btn "data-bs-toggle="dropdown">
          [[#{content.resources}]]
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">[[#{footer.howitworks}]]</a></li>
          <li><a class="dropdown-item" href="#">[[#{content.contactus}]]</a></li>
          <li><a class="dropdown-item" href="#">[[#{content.helpcenter}]]</a></li>
        </ul>
      </div>
    </div>
  </div>
