<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cookie">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BOOKINGKZ</title>
<link xmlns:th="http://www.thymeleaf.org"  rel="stylesheet" th:href="@{'/css1/bootstrap.min.css'}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" type="text/css" th:href="@{'/css/mainpage.css'}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" type="text/css" th:href="@{'/css/adminpage.css'}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" type="text/css" th:href="@{'/css/fa/css/all.css'}">