<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="siteContent">
    <div sec:authorize="hasAnyRole('ROLE_USER')">
        <div class="container-fluid-lg ps-5 pb-5 pt-2" style="background-color: #6B89F3;" >
            <div th:insert="~{centerlinks.html}"></div>
        </div>
        <div class="container-fluid">
            <div class="row" style="background-color:#6B89F3">
                <div class="col-xl-7 " >
                    <img th:src="@{'/css/image 12.png'}" style="width:80%">
                </div>
                <div class="col-xl-5 mt-5 center2 mx-auto">
                    <div class="container">
                        <div class="row" style="margin-top:20%">
                            <div class="col-12 mx-auto">
                                <div class="text">
                                    Online Booking system for <br><b>Events in KZ</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 me-auto">
                                    <div class="mt-5 me-5 welcome" style="padding-right: 8%">
                                        <div class="text-center">
                                            Welcome,
                                        </div>
                                        <h1 class="welcome text-center" th:text="${CURRENT_USER.getFullname()}"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 80px;padding-right: 140px;">
                            <div class="col-lg-6 mx-auto">
                                <a th:href="@{'/bookingByTopic/'+ ${CURRENT_USER.getId()} + '-page.html'}">
                                    <button  type="submit" class="btn-info">
                                        Book Now!
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <div class="container" style="border-radius: 5px;border: 1px solid #ededed;">
            <div class="row">
                <div class="col-lg-4 linkList">
                    <div th:insert="~{adminlinks.html}"></div>
                </div>
                <div class="col-lg-8 p-3" style="background-color: #ededed;">
                    <div class="mb-3 ms-4 titles">
                        Dashboard
                    </div>
                    <div class="container mb-lg-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ms-3 mb-3 text-center statistica" style="background-color: #7492FF">
                                    <b th:text="${books.size()}"></b> <br><span>orders</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ms-3 mb-3 text-center statistica" style="background-color: #66EDFF">
                                    <b th:text="${users.size()}"></b><br> <span>activ accounts</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ms-3 mb-3 text-center statistica" style="background-color: #FF8383">
                                    <b th:text="${orgs.size()}"></b><br> <span>partners</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-lg-3 pb-lg-3 titles">
                            <div class="col-lg-12 text-center">
                                <b style="font-size: 75%;font-weight: 450">Feedbacks:</b>
                            </div>
                        </div>
                        <div class="row ps-lg-5" style="margin-left:2%">
                            <div class="col-3">
                                <img src=/css/11s.png style="width: 50px">:<b th:text="${fTwo.size()}"></b>
                            </div>
                            <div class="col-3">
                                <img src=/css/22.png style="width: 50px">:<b th:text="${fThree.size()}"></b>
                            </div>
                            <div class="col-3">
                                <img src=/css/55s.png style="width: 50px">:<b th:text="${fFour.size()}"></b>
                            </div>
                            <div class="col-3">
                                <img src=/css/44s.png style="width: 50px">:<b th:text="${fFive.size()}"></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <hr style="width: 85%;margin: 0 auto">
                            </div>
                        </div>
                        <div class="row ps-5 pt-lg-5" style="margin-left: 2%">
                            <div class="col-lg-6">
                                <img src="/css/image%20140.png" style="width: 70%">
                            </div>
                            <div class="col-lg-6">
                                <img src="/css/image%20141.png"  style="width: 70%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasAnyRole('ROLE_MODERATOR')">
        <div class="container" style="border-radius: 5px;border: 1px solid #ededed;">
            <div class="row">
                <div class="col-lg-4 linkList">
                    <div th:insert="~{adminlinks.html}"></div>
                </div>
                <div class="col-lg-8 p-3" style="background-color: #ededed;">
                    <div class="mb-3 titles">
                        Orders
                    </div>
                    <div class="mb-3">
                        <div style="position: relative;height: 360px;overflow: auto;display: block">
                            <table class="table table-striped mt-3" style="background: #FFFFFF;border: 1px solid #9D9D9D;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 5px">
                                <thead>
                                <th>Order number</th>
                                <th>Name of event</th>
                                <th>Date</th>
                                <th>Phone number of client</th>
                                <th>Number of tickets</th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr th:each="b:${books}">
                                    <form th:action="@{/bookuser}" method="post" th:if="${b.getStatus().equals('unbooked')}">
                                        <input type="hidden" th:value="${b.getId()}" name="id">
                                        <td th:text="${b.getId()}"></td>
                                        <td th:text="${b.getEvents().getName()}"></td>
                                        <td th:text="${b.getEvents().getDate()}"></td>
                                        <td th:text="${b.getPhoneforbook()}"></td>
                                        <td th:text="${b.getNumberoftickets()}"></td>
                                        <td width="10%">
                                            <button class="btn btn-success btn-sm">book</button>
                                        </td>
                                    </form>
                                </tr>

                                <tr th:each="b:${books}" th:if="${b.getStatus().equals('booked')}">
                                    <form th:action="@{/cancelbookuser}" method="post">
                                        <input type="hidden" th:value="${b.getId()}" name="id">
                                        <td th:text="${b.getId()}"></td>
                                        <td th:text="${b.getEvents().getName()}"></td>
                                        <td th:text="${b.getEvents().getDate()}"></td>
                                        <td th:text="${b.getPhoneforbook()}"></td>
                                        <td th:text="${b.getNumberoftickets()}"></td>
                                        <td width="10%">
                                            <button class="btn btn-danger btn-sm">cancel</button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>