<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="siteContent">
    <div class="container myord" style="margin-bottom: 20%">
        <div class="row ms-2" style="font-family: 'Roboto';font-style: normal;font-weight: 600;font-size: 35px;color: #000000;">
            [[#{sidebar.myorders}]]
        </div>
        <div class="row" style="font-family: 'Roboto'">
            <div class="col-lg-12 d-flex flex-wrap">
                <div th:each="b:${books}">
                    <div class="p-lg-4 me-4 mb-4" style="width: 25rem;height: 10rem;border: 1px solid rgba(68, 68, 68, 0.56);box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                        <div class="d-flex">
                            <div style="width: 75%">
                                <b>[[#{myorders.date}]] </b><b style="font-size:16px;" th:text="${b.getEvents().getDate()}"></b><br>
                                <b >[[#{myorders.event}]] </b><b th:text="${b.getEvents().getName()}"></b><br>
                                <b >[[#{myorders.organization}]] </b><b th:text="${b.getEvents().getOrganization().getName()}"></b><br>
                                <b th:text="${b.getNumberoftickets()}"></b> <b class="card-text"> [[#{myorders.person}]]</b>
                            </div>
                            <div style="width: 25%;text-align: justify" class="mt-4" th:if="${b.getStatus().equals('unbooked')}">
                                <form th:action="@{/deletebook}" method="post">
                                    <input class="form-control" type="hidden" name="id" th:value="${b.getId()}">
                                    <button class="btn-info" style="border-radius: 5px;">[[#{myorders.cancel}]]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>